Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

In [5]:
data = (4,8,16,23,42)
ser = pd.Series(data)
print(ser)

0     4
1     8
2    16
3    23
4    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [8]:
data1 = ('pwskills','sudh','kumar','satheesh','krish','naik',1,2,3,'collegewala','this is getting boring')
ser1 = pd.Series(data1)
print(ser1)

0                   pwskills
1                       sudh
2                      kumar
3                   satheesh
4                      krish
5                       naik
6                          1
7                          2
8                          3
9                collegewala
10    this is getting boring
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:Then, print the DataFrame.

In [11]:
data3 = {'Name':('Alice','Bob','Clarie'),
        'Age' : (25,30,27),
         'Gender':('Female','Male','Female')        
        }

In [12]:
data3

{'Name': ('Alice', 'Bob', 'Clarie'),
 'Age': (25, 30, 27),
 'Gender': ('Female', 'Male', 'Female')}

In [14]:
df = pd.DataFrame(data3)

In [17]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Clarie   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

#### dataframe is tabular structure of data with multiple row and columns which is similar to SQL table
#### series is one dimensional labelled array which is similar to a column in table

In [18]:
data3 = {'Name':('Alice','Bob','Clarie'),
        'Age' : (25,30,27),
         'Gender':('Female','Male','Female')        
        }

df = pd.DataFrame(data3)

In [20]:
print(df)
# this is the dataframe

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Clarie   27  Female

In [25]:
df.columns
df['Name']
# this is the series of the column

0     Alice
1       Bob
2    Clarie
Name: Name, dtype: object

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

1. head - to display the first 5 rows of table
2. tail - to display last 5 rows of table
3. describe - to describe a table
4. unique - to find the unique values of a particular column
5. Columns - to find the column name in a  table

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

#### Series and Data frame can be mutable in pandas

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [27]:

data4 = {
    'Series1': pd.Series([1, 2, 3, 4, 5]),
    'Series2': pd.Series(['a', 'b', 'c', 'd', 'e']),
    'Series3': pd.Series([10.5, 20.2, 30.1, 40.3, 50.0])
}

df1 = pd.DataFrame(data4)

print(df1)

   Series1 Series2  Series3
0        1       a     10.5
1        2       b     20.2
2        3       c     30.1
3        4       d     40.3
4        5       e     50.0