Q1. List any five functions of the pandas library with execution.

In [ ]:
import pandas as pd
# 1 read.csv
df = pd.read_csv('services.csv')
#2 columns
df.columns
#3 head
df.head()
#4 tail
df.tail()
# types
df.dtypes()

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [22]:
import pandas as pd
d = {'a':[2,3,4,5],
     'b':[4,5,6,7],
     'c':[2,3,4,5]
}

In [23]:
df1 = pd.DataFrame(d,index=['A','B','C','D'])

In [24]:
df1

   a  b  c
A  2  4  2
B  3  5  3
C  4  6  4
D  5  7  5

In [25]:
df1.reindex([1,2,3,4])

    a   b   c
1 NaN NaN NaN
2 NaN NaN NaN
3 NaN NaN NaN
4 NaN NaN NaN

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [42]:
def test(df3):
    total = 0
    for i in df3['values'].iloc[0:3]:
        total = total+i
    print(total)    
    
df3 = pd.DataFrame({'values':[10,20,30,40,50]})

In [43]:
test(df3)

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [ ]:
df[Word_count]=df[Test].apply(lambda x : len(x.split()))

Q5. How are DataFrame.size() and DataFrame.shape() different?

#### size return the number of elements in the dataframe
#### shape return the the number of columns and and rows in a dataframe

Q6. Which function of pandas do we use to read an excel file?

##### pd.read_excel() is used to read the excel file

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [53]:
def extract_name(df):
    df['username'] = df['email'].apply(lambda email: email.split('@')[0])
    return df

In [54]:
df = pd.DataFrame({'email':['satheesh@gmail.com','sudh@gmail.com','krish@gmail.com']})

In [55]:
df = extract_name(df)

In [56]:
print(df)

                email  username
0  satheesh@gmail.com  satheesh
1      sudh@gmail.com      sudh
2     krish@gmail.com     krish

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:

In [95]:
def select_rows(df1):
    return df1.loc[(df1['A']>5) & (df1['B']<10)]

In [96]:
data = {'A':[3,8,6,2,9],
       'B':[5,2,9,3,1],
        'C':[1,7,4,5,2]}
df1 = pd.DataFrame(data)

In [97]:
selected_rows = select_rows(df1)
print(selected_rows)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [98]:
df4 = pd.DataFrame({'values':[1,2,3,4,5,6,7,8,9]})

In [103]:
df4.mean()

values    5.0
dtype: float64

In [102]:
df4.median()

values    5.0
dtype: float64

In [104]:
df4.std()

values    2.738613
dtype: float64

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [105]:
def sales(df):
    df['sales'].rolling(window=7).mean()

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:

In [121]:
def weekday_column(df):
    
    df['Date'] = pd.to_datetime(df['Date'])
    df['weekday'] = df['Date'].dt.strftime('%A')
    return df

In [122]:
date = pd.DataFrame({'Date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05','2023-01-06']})

In [124]:
df = weekday_column(date)
print(df)

        Date    weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday
5 2023-01-06     Friday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [125]:
import pandas as pd

def january_data(df):

    df['Date'] = pd.to_datetime(df['Date'])

    mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')

    january = df.loc[mask]

    return january

In [126]:
df = pd.DataFrame({'Date': ['2022-12-30', '2023-01-01', '2023-01-15', '2023-01-31', '2023-02-10']})
january = january_data(df)
print(january)

        Date
1 2023-01-01
2 2023-01-15
3 2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

#### Pandas library