In [4]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [15]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

#### loc selects rows and columns with specific labels.
#### iloc selects rows and columns at specific integer positions

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [17]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [18]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.624023  0.598237  0.795832  0.747608  0.006409  0.837957
2  0.643268  0.139084  0.965275  0.712552  0.592542  0.513020
3  0.147629  0.675432  0.027883  0.679554  0.681987  0.583591
4  0.938475  0.933909  0.373555  0.588835  0.117882  0.930893
5  0.626922  0.028503  0.889066  0.273768  0.866106  0.190502
6  0.110705  0.565779  0.683162  0.245298  0.916935  0.616571

In [20]:
new_df1=df1.reindex([3,0,1,2])

In [21]:
new_df1

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.147629  0.675432  0.027883  0.679554  0.681987  0.583591
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.624023  0.598237  0.795832  0.747608  0.006409  0.837957
2  0.643268  0.139084  0.965275  0.712552  0.592542  0.513020

In [28]:
new_df1.loc[2]
# this gives the values of index labelled 2

column_1    0.643268
column_2    0.139084
column_3    0.965275
column_4    0.712552
column_5    0.592542
column_6    0.513020
Name: 2, dtype: float64

In [27]:
new_df1.iloc[2]
# this gives the values of in-built index number

column_1    0.624023
column_2    0.598237
column_3    0.795832
column_4    0.747608
column_5    0.006409
column_6    0.837957
Name: 1, dtype: float64

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
1. mean of each and every column present in the dataframe.
2. standard deviation of column, ‘column_2’

In [30]:
df1['column_1'].mean()

0.6120888991815072

In [31]:
df1['column_2'].mean()

0.4901572316526224

In [32]:
df1['column_3'].mean()

0.6224622929690556

In [33]:
df1['column_4'].mean()

0.5412693339953882

In [34]:
df1['column_5'].mean()

0.5303101520049616

In [35]:
df1['column_6'].mean()

0.6120888991815072

In [36]:
df1['column_2'].std()

0.34205813329470064

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
##### [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [49]:
df1.loc[2,'column_2'] = 'sat'

In [50]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.624023  0.598237  0.795832  0.747608  0.006409  0.837957
2  0.643268       sat  0.965275  0.712552  0.592542  0.513020
3  0.147629  0.675432  0.027883  0.679554  0.681987  0.583591
4  0.938475  0.933909  0.373555  0.588835  0.117882  0.930893
5  0.626922  0.028503  0.889066  0.273768  0.866106  0.190502
6  0.110705  0.565779  0.683162  0.245298  0.916935  0.616571

In [51]:
df1['column_2'].mean()
## this is get an error due to different data type

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

#### Pandas Window functions are functions where the input values are taken from a “window” of one or more rows in a series or a table and calculation is performed over them
#### there are 3 types of window function

1. aggregate
2. ranking 
3. value

Q7. Write a code to print only the current month and year at the time of answering this question.

In [56]:
from datetime import datetime

In [57]:
now = datetime.now()

In [58]:
now

datetime.datetime(2023, 4, 4, 13, 45, 7, 266799)

In [62]:
current_day = pd.Timestamp(now).strftime('%B,%Y')

In [63]:
print(current_day)

April,2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [71]:
from datetime import date
input1 = input('Enter date1 formated as YYYY-MM-DD:')
input2 = input('Enter date2 formated as YYYY-MM-DD:')

date1 = pd.to_datetime(input1)
date2 = pd.to_datetime(input2)
             
diff = date2-date1

days = diff.days
hours = diff.seconds//3600
minutes = (diff.seconds//60)%60
             
print('Difference in days: {} , hours is {} and minutes is {}' .format(days,hours,minutes))

Enter date1 formated as YYYY-MM-DD: 1995-07-28
Enter date2 formated as YYYY-MM-DD: 2052-05-10

Difference in days: 20741 , hours is 0 and minutes is 0

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [74]:
file_input = input('Enter the file name:')

df = pd.read_csv(file_input)

column_name=input('enter the column name for categorical data:')

df= pd.Categorical(column_name)

df.value_counts()

Enter the file name: taxonomy.csv
enter the column name for categorical data: parent_name

/tmp/ipykernel_165/1127643416.py:7: FutureWarning: Allowing scalars in the Categorical constructor is deprecated and will raise in a future version.  Use `[value]` instead
  df= pd.Categorical(column_name)

parent_name    1
dtype: int64

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
file_input = input('Enter the file name:')

df = pd.read_csv(file_input)

x = list(df.iloc[:,0])
y =list(df.iloc(:,1))

plt.bar(x,y,colour='g')
plt.title('Product sales')
plt.xlabel('month')
plt.ylabel('sales')

plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [ ]:
import pandas as pd
file_input = input('Enter the file name:')

df = pd.read_excel(file_input)

mean = df['test_score'].mean()
median = df['test_score'].median()
mode = df['test_score'].mode()

result = pd.DataFrame({'Statistic':['Mean','Median','Mode'],'Value':[mean,median,mode.tolist()]})

print(result)