## write a progarm to accept percantage fromthe user and display the grade according to the following criteria

marks>90=A
mars>80&<=90 = B
marks>=60&<=80=C
below 90=D

In [6]:
marks_scored = int(input("Enter your marks:"))
if marks_scored>90:
    print("Your grade is A")
elif marks_scored>80 and marks_scored<=90:
    print("Your grade is B")
elif marks_scored>60 and marks_scored<=80:
    print("Your grade is C")
else:
    print("Your grade is D")

Enter your marks: 55

Your grade is D

### Write a program to accept the cost price of bike ad display the road tax to be paid according to the following criteria

tax 15% > 100000
10% > 500000 and <=100000
5% <=50000

In [12]:
product_price = int(input("Enter price of the product:"))
if product_price >100000:
    print("On road price of the bike:{taxed}".format(taxed = int(product_price+(product_price*0.15))))
elif product_price>50000 and product_price<=100000:
      print("On road price of the bike:{taxed}".format(taxed = int(product_price+(product_price*0.10))))
else:
    print("On road price of the bike:{taxed}".format(taxed = int(product_price+(product_price*0.05))))

Enter price of the product: 40000

On road price of the bike:42000

### Accpet any city from the user and display monumnets of the city

delhi - red fort
agra - taj mahal
jaipur - jai mahal

In [17]:
city = input("Enter name of the city:")
if city.upper()=='DELHI':
    print("Delhi has Red fort")
elif city.upper()=='AGRA':
    print("Agra has Taj mahal")
elif city.upper()=='JAIPUR':
    print("Jaipur has Jai mahal")
else:
    print("There are no monuments in the city mentioned")

Enter name of the city: jaipur

Jaipur has Jai mahal

### Check how many times a given number can be divided by 3 before it is less than or equal to 10

In [9]:
num = int(input("Enter the number:"))
count=0
while num>10:
    num = num//3
    count = count+1
    
print(count)

Enter the number: 100

3

### Why and when to use while loop in python give a detailed description with example

Python while loop is used to run a block code until a certain condition is met. Here, A while loop evaluates the condition. 
If the condition evaluates to True , the code inside the while loop is executed

In [13]:
amount = 1000
while amount!=0:
    print(amount)
    amount = amount-100
else:
    print("balance is empty")

1000
900
800
700
600
500
400
300
200
100
balance is empty

### use nested while loop to print 3 differet pattern

In [21]:
i = 1
while i <= 6:
    j = 1
    while j <= i:
        print("*", end="")
        j += 1
    print()
    i += 1

*
**
***
****
*****
******

In [20]:
i = 1
while i <= 6:
    j = 1
    while j <= (6 - i):
        print(" ", end="")
        j += 1
    k = 1
    while k <= i:
        print("*", end="")
        k += 1
    print()
    i += 1

     *
    **
   ***
  ****
 *****
******

In [19]:
i = 1
while i <= 6:
    j = 1
    while j <= (6 - i):
        print(" ", end="")
        j += 1
    k = 1
    while k <= (2 * i - 1):
        print("*", end="")
        k += 1
    print()
    i += 1

     *
    ***
   *****
  *******
 *********
***********

### reverse a while loop to display numbers from 10to1

In [25]:
num = 10
while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1

## Day - 4 class assignment

In [ ]:
## Using both code and list comprehesnion
# Example 2: Create a list of only the prime numbers from a given list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
prime_numbers = []

for num in numbers:
  
    if num > 1:      
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            prime_numbers.append(num)

print(prime_numbers)

[2, 3, 5, 7]

In [28]:
[num for num in numbers if num > 1 and all(num % i != 0 for i in range(2, num))]

[2, 3, 5, 7]

In [30]:
# Example 3: Create a list of all the possible combinations of 2 elements from a list
numbers = [1, 2, 3, 4, 5]

In [31]:
[(numbers[i], numbers[j]) for i in range(len(numbers)) for j in range(i+1, len(numbers))]

[(1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 3),
 (2, 4),
 (2, 5),
 (3, 4),
 (3, 5),
 (4, 5)]